*{
  margin: 0;
  padding: 0;
}
.hero {

  
    background: linear-gradient(
        rgba(235, 225, 225, 0.5),
        rgba(237, 221, 221, 0.5)
      ),
      url("../images/lighthouse.jpg");
    background-position: 0px 0px, 0px 0px;
  
    background-size: cover;
    background-repeat: no-repeat;

  }

  .hero1 {

  
background: url("../images/coast.avif");
    background-position: 0px 0px, 0px 0px;
  
    background-size: cover;
    background-repeat: no-repeat;

  }

  